@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3 {
    @apply font-bold;
  }
  h1 {
    @apply text-[1.75em];
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  body {
    @apply flex flex-row bg-[#121212] text-[#FAFAFA];
  }
  main {
    @apply max-w-full overflow-auto flex-grow-[1] p-6;
  }

  table {
    margin: 0 auto;
    display: inline-block;
    width: fit-content;
    max-height: 25em;
  }

  td {
    outline: 1px solid #FAFAFA;
  }
  
  th {
    background-color: #FAFAFA;
    outline: 1px solid #FAFAFA;
    color: #090909;
    position: sticky;
    top: 0;
    z-index: -1;
  }
  
  th, td {
    padding: 0.5rem 0.75rem;
    width: fit-content;
    z-index: 1;
    height: fit-content;
  }

  td {
    z-index: -2;
  }

  input[type="text"], input[type="password"], input[type="number"] {
    font-size: 1rem;
    padding: 0.1em 0.25em;
    border: 2px solid #FAFAFA;
    border-radius: 5px;
    background-color: inherit;
    color: #FAFAFA;
    width: 100%;
  }
  input[type="date"] {
    color: #FAFAFA;
    border: 2px solid #FAFAFA;
    background-color: inherit;
    padding: 0.1em 0.25em;
    border-radius: 10px;
  }
  select {
    background-color: #242424;
    color: #FAFAFA;
    height: 2rem;
    border: none;
    border: 1px solid #FAFAFA;
    border-radius: 10px;
    padding: 0.25em 0.5em;
    font-size: 1em;
  }
  *::selection {
    color: #242424;
    background-color: #FAFAFA;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
}

@layer components {
  .debug {
    @apply outline outline-1 outline-red-500;
  }
  .bubsbutton {
    @apply cursor-pointer no-underline bg-[#282828] text-[#FAFAFA] py-[0.1em] px-4 rounded-[10px] border-[2px] border-solid border-[#FAFAFA]
    hover:bg-[#FAFAFA] hover:text-[#282828] hover:transition-all hover:duration-150 hover:ease-in text-[1em];
  }
  .head {
    @apply flex justify-between items-center mb-4;
  }
  .popupcontainer {
    @apply invisible fixed top-0 w-screen h-full flex justify-center items-center
    bg-[#000000AA] overflow-auto z-[2434];
  }
  .tablecontainer {
    @apply w-fit h-fit max-w-full max-h-[15em] overflow-auto border border-solid;
  }
  .message {
    @apply bg-[#FAFAFA] text-[#242424] p-3 rounded-[10px] mb-4;
  }
  .box {
    @apply p-5 bg-[#242424] rounded-[10px] w-fit max-w-full;
  }
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

button {
  width: fit-content;
}

input[type="text"]:focus {
  outline: none;
}

.radios {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  row-gap: 0.5em;
  flex-wrap: wrap;
}

textarea {
  background-color: inherit;
  color: inherit;
  padding: 0.25em 0.5em;

  border: 2px solid #FAFAFA;
  border-radius: 10px;
  resize: vertical;
  min-height: 1.25em;
  max-width: 100%;

  font-size: 1em;
}

.alert {
  display: block;
  background-color: #EAEAEA;
  color: #090909;
  padding: 1rem;
  margin-bottom: 1em;
  
  border-radius: 10px;
}

ul {
  margin-left: 1em;
}

a {
  color: inherit;
}

a button, .logo a {
  text-decoration: none;
}

option {
  color: #FAFAFA;
}

#right {
  flex-grow: 1;
}

.bubsbutton[disabled] {
  opacity: 0.5;
  cursor:default;
}

.bubsbutton[disabled]:hover {
  color: unset;
  background-color: unset;
  transition: none;
}

p, h1, h2, h3 {
  line-height: 1.25em;
}